html body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  background-color: rgb(6,103,116);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grid {
  display: grid;
}

/* ------------HEADER-------------------*/
.main-header {
  min-height: 10vh;
  border: 1px solid rgb(43,46,46);
  text-align: center;
  font-size: 22px;
  font-family: Georgia, serif;
  color: rgb(241,241,241);
  text-shadow: 1px 1px 1px rgb(0,0,0);
  background-color: rgb(73,154,184);
  position: relative;
}

.main-header img {
  float: left;
}

.main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-content {
  z-index: 1;
  text-align: center;
  padding: 5px;
  font-family: Georgia, serif;
  font-weight: normal;
  }

  .student-list {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

.student {
  margin: 10px 10px;
  margin-bottom: 20px;
  padding: 5px 5px;
  text-align: center;
}
  figure {
  padding: 2px;
  margin: auto;
}

figcaption {
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 32px;
}

footer {
  min-height: 5vh;
  border: 1px solid rgb(43,46,46);
  text-align: center;
  font-size: 18px;
  font-family: Georgia, serif;
  color: rgb(255,255,255);
  text-shadow: 1px 1px 1px rgb(0,0,0);
  background-color: rgb(73,154,184);
  position: relative;
}
article a {
  text-decoration: none;
}
article .access {
  justify-content: center;
  align-items: center;
  position: relative;
}

input[type=text], input[type=password] {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 5px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.access-panel {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px auto;
  margin-bottom: 30px;
}
.access-panel div {
  margin:auto;
  margin-bottom: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #e76417;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: background-color .2s ease;
  cursor: pointer;
}

button::after {
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

button:hover {
  text-decoration: none;
  color: #000;
}

button:hover {
  background-color: #e29537;
}

button:hover::after {
  opacity: .1;
}
.access-panel a{
  text-decoration: none;
  color: #f1efef;
  font-weight: bolder;
}
.access-panel a:hover{
    color: #a69989;
    text-shadow: 1px 1px 1px #000;
}

.reason-group {
  display: inline-block;
  justify-content: center;
}

.reason-group div{
  display: inline-block;
  justify-content: center;
}

.container {
  margin: 110px;
}
.container div a {
  color: rgb(255,255,255);
}
.container div a:hover{
    color: #a69989;
    text-shadow: 1px 1px 1px #000;
}
.container a {
  color: rgb(255,255,255);
}
.container a:hover{
    color: #a69989;
    text-shadow: 1px 1px 1px #000;
}
